<table class="painting-table">
  <thead>
    <tr>
      <th class="corner-label"></th> >
      @for (colLabel of columnLabels; track colLabel) {
        <th class="col-label">{{ colLabel }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of createArray(rows); track row) {
      <tr>
        <th class="row-label">{{ row + 1 }}</th> 
        @for (colIndex of createArray(columns); track colIndex) {
          <td 
            class="painting-cell"
            (click)="cellClicked(row + 1, colIndex + 1)"
            [style.background-color]="getCellColor(columnLabels[colIndex] + (row + 1))">
          </td>
        }
      </tr>
    }
  </tbody>
</table>
