 /* checked for contrast #ffff00 and #000080 have a 14.9:1*/
.colorTableContainer {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}
.colorTable{
    background-color: #f0f0f0;
    width: 90%;
}
.leftColumn{
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}
.leftColumn input[type="radio"] {
    margin-right: 0.5rem;
}
.rightColumn{
    width: 75%;
    color: var(--primary-color);
    font-weight: 500;
}