/*CSS resource used: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
.teamContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    gap: 200px;
    padding: 150px;
}