<h1>About us</h1>
<div class="teamContainer">
    <team-card
    [name]="angel.name"
    [bio]="angel.bio"
    [photoURL]="angel.photoURL">
  </team-card>

    <team-card 
    [name]="nate.name"
    [bio]="nate.bio"
    [photoURL]="nate.photoURL">
    </team-card>

    <team-card 
    [name]="german.name"
    [bio]="german.bio"
    [photoURL]="german.photoURL">
    </team-card>

    <team-card 
    [name]="teamMember.name"
    [bio]="teamMember.bio"
    [photoURL]="teamMember.photoURL">
    </team-card>

</div>