<!--Resource used https://angular.dev/api/forms/NgModel --> 
<!--Go to http://localhost:4200/ --> 
<!--<p>check: homepage works!</p>-->

<div class = "form-controls">
<form (ngSubmit)="onRowSubmit()">
    <label>
      Rows (1-1000):
    </label>
      <input 
        type="number" 
        name="rows"
        min = 1
        max = 1000
        [(ngModel)]="rows"
        [class.invalid]="!isRowValid()"
      >
    <button type="rowSubmit">Submit </button>
    @if (!isRowValid()) {
        <div class="error">
            Invalid input! Try again make sure to enter a whole number between 1-1000
        </div>
      }
  </form>

  <form (ngSubmit)="onColSubmit()">
    <label>
      Columns (1-702):
    </label>
      <input 
        type="number" 
        name="columns"
        min = 1
        max = 702
        [(ngModel)]="columns"
        [class.invalid]="!isColValid()"
      >
      <button type="colSubmit">Submit </button>
    @if (!isColValid()) {
        <div class="error">
            Invalid input! Try again make sure to enter a whole number between 1-702
        </div>
      }
 
  </form>

  <form (ngSubmit)="onColorSubmit()">
    <label>
      Color (1-10):
    </label>
      <input 
        type="number" 
        name="color"
        min = 1
        max = 10
        [(ngModel)]="color"
        [class.invalid]="!isColorValid()"
      >
    <button type="colorSubmit">Submit </button>
    @if (!isColorValid()) {
        <div class="error">
            Invalid input! Try again make sure to enter a whole number between 1-10
        </div>
      }
 
  </form>
</div>
  

@if (shouldShowColorTable()) {
      <h4 class = "print-visible">Color Selection Table</h4>
      <p class = "print-visible">Table with {{color}} colors</p>
    <div class="colorTable">  
      <app-color-table [colorCount]="color"></app-color-table>
    </div>
  }

  @if (rowIsSubmitted && colIsSubmitted && isRowValid() && isColValid()){
      <h4 class = "print-visible">Color Painting Table</h4>
      <p class = "print-visible">Table with {{ rows }} Rows and {{ columns }} Columns</p>
    <div class="paintingTableContainer">  
      <app-paint-table [rows]="rows" [columns]="columns"></app-paint-table>
    </div>
  }
  <app-print-button></app-print-button>  

