/* You can add global styles to this file, and also import other style files */
:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*color contrast verified by https://webaim.org/resources/contrastchecker/*/
    --primary-color: #000080;
    --secondary-color: #ffff00;
    --tertiary-color: #ffc0cb;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}